* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: white;
}

.home, 
.main {
  font-size: 2rem;
  min-height: 76vh;
 
  background-color: white;
 
  display: flex;
  align-items: center;
  
  flex-direction: column;
  color: white;
}

h3 {
  position: absolute;
  margin-top: 37px;
  font-size: .9rem;
  color:#555;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: .5px 1.5px 3px lightblue;
  margin-left: 115px;
}

nav {
  /* display: flex;
  justify-content: space-around; */
  /* align-items: center; */
  height: 12vh;
  font-style: 1.2rem;
  background-color: whitesmoke;
  border-bottom: 3px solid #f4f4f4;
}

.nav-links {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
  margin-top: 37px;
  float: right;
  list-style: none;
  color: white;
  font-size: 1.2rem;
 
}

li {
  
  font-style: italic;
  color:#555;
  display: inline-block;
  margin-left: 25px;
  

  
}

li:hover {
border-bottom: 1px solid black;
color: gold;
}

a {
  text-decoration: none;
}
.Footer {
  
  /* display: flex;
  align-items: center;
  justify-content: center; */
   position: absolute;
  left: 0;  
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 10vh;
  background-color: #e9d8c8;
  color: #555;
  font-size: 1rem;
}
Footer p {
  position: absolute;
  padding-top: 27px;
  margin-left: 400px;
	font-size: 20px;
	line-height: 24px;
}
.social {
  /* position: absolute; */
  text-align: right;
  /* float: right; */
  padding-top: 27px;
  
}
.social a {
  
	text-decoration: none;
  margin-right: 25px;
  padding-right: 25px;
	opacity: .6;
}

/* HOMEMMMMMMMMMMMMMMM */
.Home-img{
  text-align: center;
  
  
  height: 600px;
  width: 90%;
  background-color: lightgray;
  background-image: url("/images/fashion-3080644_1920.jpg");
  background-size: cover;
}
.Home-img div {
  text-align: left;
  margin-top: 150px;
  margin-left: 25px;
}

/* Abouttttttttttt */
.about-pic{
  text-align: center;
  
  height: 200px;
  width: 90%;
  background-color: lightgray;
  background-image: url("/images/makeup-5564392_1920.png");
  background-size: cover;
}
.home h1 {
  margin-top: 70px;
  color: goldenrod;
}
hr {
  color: black;
  width: 80%;
}
.home p {
  color: black;
  text-indent:1em;  
  text-align:justify;
  font-size: 25px;
  margin-left: 70px;
  margin-right: 80px;
  margin-top: 25px;
}

/* servicessssssssssssssssss */
.services-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: space-around;
  
}
.services-items{
  margin-right: 0px;
  /* background-color: peachpuff; */
  display: flex;
  flex-direction: row;
  padding-right: 1px;
  
}
.pic1{
  height: 300px;
  width: 300px;
  background-color: lime;
  background-image: url("/images/hairdresser-4682912_640.jpg");
  background-size: cover;
}
.text1 {
  height: 300px;
  width: 150px;
  /* background-color: pink; */

}
.text1 h3 {
  margin-left: 8px;
}
.pic2{
  height: 300px;
  width: 300px;
  background-color: orchid;
  background-image: url("/images/nail-2583493_640.jpg");
  background-size: cover;
}
.text2 {
  height: 300px;
  width: 150px;
  /* background-color: pink; */

}
.text2 h3 {
  margin-left: 8px;
}
.pic3{
  height: 300px;
  width: 300px;
  background-color: olive;
  background-image: url("/images/makeup-791303_640.jpg");
  background-size: cover;
  
}
.text3 {
  height: 300px;
  width: 150px;
  /* background-color: pink; */
}
.text3 h3 {
  margin-left: 8px;
}


@media screen and (max-width:768px){
  .nav-links {
    display: none;
    font-size: 1rem;
    width: 55%;
  }
h3 {
display: inline-block;
}
}
/* contact main page */
/* .contact-main{
  padding-top: 25px;
  font-size: 2rem;
  min-height: 76vh;
  background-color: lightslategray;
  align-items: center;
  justify-content: center;
  color: white;

} */

/* form styles */

.hero {
	text-align: center;
	padding: 10%;
	color: #fff;
	background-color: #520;
  background-image: url("/images/comb-350077_1920.jpg");
  background-size: cover;
  background-position: center;
	/*background-position: center 75%;
	background-repeat: no-repeat;
	background-size: cover; */
}
.hero h1 {
  color: goldenrod;
  font-size: 80px;
  font-weight: bolder;
}
.contact-flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.left-container {
  height: 800px;
  width: 800px;
  background-color: purple;
}


form {
  width: 700px;
  background-color: silver;
  border: 1px solid #e9d8c8;
	border-radius: 6px;
  padding: 5%;
  margin-bottom: 20px;
}
form p {
  text-align: justify;
  margin-bottom: 20px;
}
label, input {
	display: block;
}
label {
  text-align: left;
}
input, button {
	font-family: 'Abel', sans-serif;
	font-size: 19px;
}
input, textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 30px;
	border: 1px solid #e9d8c8;
	border-radius: 6px;
}
button {
	border: 0;
	outline: none;
	cursor: pointer;
}
.contact {
  margin-bottom: 20px;
	cursor: pointer;
	background-color: #8842c2;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
}
.form-address {
  margin-top: 80px;
  margin-bottom: 40px;
}

.form-call {
  margin-bottom: 40px;
}

/* .form-envelop {
  margin-top: 80px;
  margin-bottom: 40px;
} */

/* .fullNameField, .emailField {
  margin-left: 10px;
} */